build/bin
node_modules
frontend/dist
frontend/wailsjs
.gitnexus

# code-review-graph
setup-crg.sh
setup-crg.ps1
check-crg.sh
CLAUDE.md
crg-cheatsheet.pdf
CRG-README.md
.cursorrules
.opencode.json
.windsurfrules
GEMINI.md
